body {
    color: gray;
}
.b-black{
    background-color: black;
}
.b-black span{
    color: white;
    font-weight: 600;
}
.img-thumbnail{
    background-color: #ddd;
    transition: all 0.2s linear;
    overflow: hidden;
}
.img-thumbnail:hover{
    transform: scale(1.1);
}
.b-black a{
    color: skyblue;
}
.card-box{
    display: flex;
    justify-content: center;
}
.card-img-top{
    filter: brightness(1);
}
.card-img-top:hover{
    filter: brightness(0.5);
}
.f_at:hover{
    color: skyblue;
}
.card{
    margin-right: 10px;
}
.card-text{
    font-size: 15px;
}
.second_img{
    transition: all 0.2s linear;
    overflow: hidden;
}
.second_img:hover{
    transform: scale(1.1);
}
.img-bor img{
    border-radius: 30px;
}
.f-font a{
    color: black;
    text-decoration: none;

}

.first-line{
    border-bottom: 1px solid gray;
}

@media screen and(min-width: 768px){
    .f-med{
        color: black;
    }
    .title{
        color: blue;
    }
    .card{
        padding: 0;
        background-color: #F3F3F3;
        border: 2px solid black;
        border-radius: 10px;
    }
    .second_img{
        margin-top: 10px;
    }
    .ard-text-item{
        font-size: 0px;
    }
    
}